.container {
    width: 650px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    font-family: 'Noto Sans KR', sans-serif;
}

.logo {
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.logo2 {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
    align-items: center;
}

.logo3 {
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.check {
    display: flex;
    flex-direction: row;
    width: 20%;
    display: flex;
    font-size: 30px;
    color: white;
    justify-content: space-evenly;
    margin-top: 13px;
}

.check2{
    display: flex;
    flex-direction: row;
    width: 70%;
}

.check3{
    display: flex;
    flex-direction: row;
    width: 10%;
    display: flex;
    font-size: 40px;
    color: white;
    justify-content: end;
    margin: 30px;
}

.item {
    width: 100%;
}

.item:nth-child(1) {
    height:10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item:nth-child(2) {
    height: 5%;
    display: flex;
}

.item:nth-child(3) {
    height:65%;
    display: flex;
}

.item:nth-child(4) {
    height:5%;
    display: flex;
    
}

.item:nth-child(5) {
    height:5%;
    display: flex;
    margin: 10px 0px 0px 10px;
}

.item:nth-child(6) {
    height:10%;
    display: flex;
}

img{
    justify-content: center;
}

p {
    display: flex;
    font-size: 40px;
    color: white;
    justify-content: space-between;
    align-items: center;
}